@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(0,0,0,0.1);
    border-radius: 100vh;
    height: 100%;
}

::-webkit-scrollbar-corner {
    background: rgba(0,0,0,0.1);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #FC5A31;
    border-radius: 100vh;
    border: 1px solid #08070C;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #FC5A31;
}

.ReactModal__Overlay {
    opacity: 0;
    transform: translateY(90vh);
    transition: all 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
    opacity: 1;
    transform: translateX(0px);
}

.ReactModal__Overlay--before-close {
    opacity: 0;
    transform: translateX(-100px);
}